.box{
    box-sizing: border-box;
    text-align: center;   
    
}
.container{
    width: 65%;
    height: auto;
    display: flex;
    background: url("../images/concrete_seamless.png");
    margin-left: 130px;
}
.profileName{
    background-color: teal;
    width: 200px;
    height: 60px;
    padding: 20px 20px 20px 20px ;
    margin-left:0;
    color: #ffffff;
   font-size: 20px;   
}
.img-fluid{
    height:50%;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
/* <!----styling contact.html ----->*/
.contact{     
    width: 50%;
    height: 250%;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;
    margin-top: 30px;
}

#h1{
    color: teal;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: #cccccc solid 0.5px;
    margin: 20px;
}
input[type=text], select {
    width: 85%;
    padding: 12px 20px;
    margin: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: teal;
    width: 80px;
    height: 30px;  
    color: #ffffff;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 2px;
}
.btnbtn-primary:active {
    background-color: rgb(115, 245, 245);
}

.btnbtn-primary:hover {
    background-color: rgb(37, 80, 80);
}

.btnbtn-primary:focus{
    background-color:rgb(29, 124, 124);
}
.btnbtn-primary:active{
    background-color:rgb(32, 204, 204);
}
/* ---Portfolio.html--- */
/*
.portfolio{
    position:relative;
    left: 15%;
    right: 14%;
    width: 66%;
    height: 80%;
    background-color: #ffffff;
    line-height: 100%;
    margin-top: 30px;
    display: flex;
}
*/
.portfolio-img-container {
    margin-bottom: 20px;
    position: relative; 
    display: block;
    width: 200px;
    height: 200px; 
    padding: 0;
}
.img.fluid {
    position: absolute; 
    height: auto;
}
.text-block {
    position: absolute; 
    bottom: 12px; 
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100%;
    /*max-width: 200px; */
    justify-content: center;
    align-items: center;
    display: flex; 
    height: 30px;
}
.banner-text {
    text-overflow: ellipsis;
    }

/* ---Footer--- */
.footer{    
    max-width: 100%;
    height: 7px;
    border-top-style: solid;  
    border-top-color: teal;
    border-top-width: 5px;    
    background-color: gray;   
    text-align: center;
    margin-top: 200px;
    padding-top: 32px;
    padding-bottom: 20px;
    font-size: 10px;
    color: #cccccc;  
   
}