/**
*Building my portfolio
**/


.box{
    box-sizing: border-box;
    text-align: center;   
    background-color: #cccccc;
    background: url("../images/concrete_seamless.png");
}
.wrapper {
    height: auto !important;
    height: 100%;
  
    /* Box-model */
    min-height: 100%;
  
    /* Positioning */
    margin: 0 auto -100px;
  }
.row{
    background-color: #ffffff;
    text-align: center;
    width: 960px;
    height: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 2px;
    
}
#Your-name{
    background-color: teal;
    border: 1px solid #cccccc;
    width: 140px;
    height: 30px;
    padding: 20px 20px 20px 20px ;
    margin-left: 220px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    float: left;   
}
#Contact-header{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-right-style: solid ;
    border-right-color: #cccccc;
    border-right-width: 0.2px;
    width: 80px;
    height: 10px;
    margin-top: 31px;
    margin-right: -260px; 
    padding: 6px 9px 9px 6px ;
    float: right;
}
#About{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-right-style: solid ;
    border-right-color: #cccccc;
    border-right-width: 0.2px;
    width: 80px;
    height: 10px;
    margin-top: 31px;
    margin-right: -80px; 
    padding: 6px 5px 9px 11px  ;
    float: right;
}
#Portfolio{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-right-style: solid ;
    border-right-color: #cccccc;
    border-right-width: 0.2px;
    width: 80px;
    height: 10px;
    margin-top: 31px;
    margin-right: -160px; 
    padding: 6px 6px 9px 12px ;
    float: right;
}
#Contact{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 10px;
    margin-top: 31px;
    margin-right: -240px; 
    padding: 6px 9px 9px 6px ;
    float: right;
}
.container{ 
    max-width:980px;  
    height: 1015px;
    border: solid 1px #cccccc;
    background-color: #cccccc;
    margin-left: 2px;
    margin-right: 2px;
}
.content{
    
    width: 960px;
    height: 420px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px; 
    margin-left: 80px;
    margin-bottom: 533px;
    line-height: 100%;
}

#h1{
    color: teal;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: #cccccc solid 0.5px;
    margin: 20px;
}

#bio{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: #777777;  
}
#bio-image{   
    height: 200px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}
#p1{
    float : left ;
}
/* <!----styling contact.html ----->*/

input[type=text], select {
    width: 450px;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#name,
#email,
#message{
    font-family: Arial, Helvetica, sans-serif;
  
}
#message{
    width: 450px;
    height:120px;
}
#Contact:hover{
    background-color: azure;
}
.btnbtn-primary{
    background-color: teal;
    width: 80px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 2px;
}
.btnbtn-primary:active {
    background-color: rgb(115, 245, 245);
}

.btnbtn-primary:hover {
    background-color: rgb(37, 80, 80);
}

.btnbtn-primary:focus{
    background-color:rgb(29, 124, 124);
}
.btnbtn-primary:active{
    background-color:rgb(32, 204, 204);
}

/* <!----styling portfolio.html ----->*/
.container-portfolio {
  
    width: 100%;
    height: 1015px;
    background-color: #cccccc;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 30px;
   
}
.content-portfolio{
    position:relative;
    left: 220px;
    right: 200px;
    max-width: 980px;
    height: 920px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 233px;
    line-height: 100%;
}
/*
#columns {  
    width: 200px;
    height: 750px;
    margin-left: 15px;
}

#row1 td, #row2 td, #row3 td{
    width: 200px;
    height: 200px;
}

#img1, #img3,#img5{
    width: 220px;
    height: 200px;
    padding-right: 10px;
}

#img2, #img4{
    max-width: 274px;
    height: 200px;
    padding-left: 10px;
}
*/
/* Container the same size at the images */
.portfolio-img-container {
    margin-bottom: 20px;
    position: relative; 
    display: block;
    max-width: 274px; 
    height: auto; 
    padding: 0;
    left: 100px;
}

/* The image itself; img.fluid already has css from bootstrap that makes it shrink with your screen */
.portfolio-img-container img.fluid {
    position: absolute; 
    height: auto;
    top: 30px;
}

text-block {
    position: absolute; 
    bottom: 12px; 
    background-color: #4aaaa582;
    color: #ffffff;
    max-width: 274px; 
    height: auto;
    text-align: center;
    display: flex; /* Makes it a flexbox which lets you use justify-content and align-items to center its children(the text) along both axes */
    justify-content: center;
    align-items: center;
    height: 60px;
}

.banner-text {
text-overflow: ellipsis; /* When the text overflows to 2 lines while shrinking the screen, this keeps the 2 lines centered around where the original line was so they stay in the teal banner */
}

/* <!----styling Footer ----->*/
.footer{   
    position: -webkit-sticky;
    position: sticky;
    max-width: 100%;
    height: 7px;
    border-top-style: solid;
    border-top-color: teal;
    border-top-width: 5px; 
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 12px;
    font-size: 10px;
    color: #cccccc;  
    margin-right: inherit;
}
